@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
html *{
    font-family: 'Ubuntu';
}
#exploreBtn{
    min-width: 100%;
}
.edge{
    font-family: 'Permanent Marker';
}
body{
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    background-image: url('https://i.pinimg.com/originals/cc/94/fb/cc94fb206ff0e9348e9137ccb694b2d1.jpg');
    background-size: 100% 100%;
}
#topbar{
    position: fixed;
    top: 0px;
    min-width: 100%;
    z-index: 1;
}
footer{
    text-align: center;
    color: white;
    background-color:black;
    position: fixed;
    bottom: 0px;
    min-width: 100%;
    z-index: 1;
}
#introBox{
    color: black;
    font: bold 100;
}
#transBox{
    background-color:#ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    max-width: 40%;
    min-width: 40%;
    min-height: 80%;
    max-height: 80%;
}